<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        
        $(document).ready(function(){
            str = '<img src='+'{% url "img_captcha" %}'+ ' style="width: 100px;height: 100px;" id="captcha">';
            $("#img_tag").html(str)
        });
        </script>
    </head>
    <body>
        <form method="POST" action="{% url 'login_check1' %}">
            {% csrf_token %}
            {{ form }}<br>
            <br>
            <br>
            <div id="img_tag"></div>
            <input type="text" placeholder="Enter Captcha" name="captcha_text">
            <p style="color: red">{{button}}</p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>